body {
    background-color: rgb(241, 245, 250);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}
.white-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(101, 101, 101, 0.1);
    margin: 20px;
    width: 80%; 
    max-width: 500px;
    height: 500px;
    display: flex;            /* Add this */
    flex-direction: column;   /* Add this */
    justify-content: center;  /* Add this */
}
.line-input {
    background: transparent;
    border: none;
    border-bottom: 3px solid #3854a2;
    outline: none;
    padding: 2px 5px;
    box-shadow: none;
}
.login-text{
    text-align: center;
}